<div style="margin: 10px;">
  <a href="/organizator">Organizator></a>
  <a href="/formCompetition">Formiraj takmicenje</a>
</div>

<mat-card>
  <mat-card-content>

    <div class="mat-elevation-z8">
      <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}}</td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.competitionName}}</td>
        </ng-container>
    
        <!-- Sport Column -->
        <ng-container matColumnDef="sport">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sport</th>
          <td mat-cell *matCellDef="let row">{{row.sport}}</td>
        </ng-container>
    
        <!-- Discipline Column -->
        <ng-container matColumnDef="discipline">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Discipline</th>
          <td mat-cell *matCellDef="let row">{{row.discipline}}</td>
        </ng-container>
    
        <!-- Form competition Column -->
        <ng-container matColumnDef="form">
          <th mat-header-cell *matHeaderCellDef>Form competition</th>
          <td mat-cell *matCellDef="let row"><button id={{row._id}} mat-raised-button color="primary" (click)="formiraj(row._id)">FORMIRAJ</button></td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator #paginator
          [length]="dataSource?.data.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[10, 20, 50, 100]">
      </mat-paginator>
    </div>

  </mat-card-content>
</mat-card>


