<mat-card>
    <mat-card-content>
      <div class="header">
        <P>Podaci Takmicara</P>
      </div>
      
      <form (ngSubmit)="onRegister()" name="registrationForm" [formGroup]="registrationForm">

        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Team name</mat-label>
              <input
                formControlName="teamName"
                matInput
                placeholder="Enter name of team" required
              />
              <mat-error *ngIf="!registrationForm.controls['teamName'].valid">
                Name of team is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Competition</mat-label>
                <mat-select
                formControlName="competition"
                matSelect
                placeholder="Choose competition" required
                (valueChange)="selectChangeHandler($event)"
                >
                    <mat-option *ngFor="let competition of competitions" [value]="competition">
                    {{competition.competitionName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!registrationForm.controls['competition'].valid">
                    Competition is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Sex</mat-label>
              <input
                formControlName="sex"
                matInput
                placeholder="Enter sex" required
              />
              <mat-error *ngIf="!registrationForm.controls['sex'].valid">
                  Sex is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Sport</mat-label>
              <input
                formControlName="sport"
                matInput
                placeholder="Enter sport" required
              />
              <mat-error *ngIf="!registrationForm.controls['sport'].valid">
                  Sport is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Discipline</mat-label>
              <input
                formControlName="discipline"
                matInput
                placeholder="Enter discipline" required
              />
              <mat-error *ngIf="!registrationForm.controls['discipline'].valid">
                Discipline is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Country</mat-label>
              <input
                formControlName="country"
                matInput
                placeholder="Enter country" required
              />
              <mat-error *ngIf="!registrationForm.controls['country'].valid">
                Country is required
                </mat-error>
            </mat-form-field>
        </div>
        
        <button mat-flat-button color="primary">Register athlete</button>
      </form>

      <div class="button-row">
        <p>Register New Athlete</p>
      </div>
    </mat-card-content>
  </mat-card>