<mat-card>
    <mat-card-content>
      <div class="header">
        <P>Podaci DELEGATA/VODJE</P>
      </div>
      
      <form (ngSubmit)="onRegister()" name="registrationForm" [formGroup]="registrationForm">

        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                formControlName="username"
                matInput
                placeholder="Enter username" required
              />
              <mat-error *ngIf="!registrationForm.controls['username'].valid">
                  Username is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="inputFiled">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="Enter email address" required
            />
            <mat-error *ngIf="!registrationForm.controls['email'].valid">
                Email is required
              </mat-error>
          </mat-form-field>
        </div>

        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Firstname</mat-label>
                <input
                formControlName="firstName"
                matInput
                placeholder="Enter firstName" required
                />
                <mat-error *ngIf="!registrationForm.controls['firstName'].valid">
                    Firstname is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="inputFiled">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Lastname</mat-label>
            <input
            formControlName="lastName"
            matInput
            placeholder="Enter lastname" required
            />
            <mat-error *ngIf="!registrationForm.controls['lastName'].valid">
                Lastname is required
            </mat-error>
        </mat-form-field>
        </div>

        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Country</mat-label>
                <input
                formControlName="country"
                matInput
                placeholder="Enter country" required
                />
                <mat-error *ngIf="!registrationForm.controls['country'].valid">
                    Country is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>User type</mat-label>
                <mat-select
                formControlName="userType"
                matSelect
                placeholder="Enter type of user" required
                >
                    <mat-option *ngFor="let userType of userTypes" [value]="userType.value">
                    {{userType.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!registrationForm.controls['country'].valid">
                    Country is required
                </mat-error>
            </mat-form-field>
        </div>



        <div class="inputFiled">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!registrationForm.controls['password'].valid">
            Password is required (At least 1 upper case letter, 3 lower case, 2 digits, 2 special characters, 8-12 length and first character must be a letter)
          </mat-error>
        </mat-form-field>
        </div>

        <div class="inputFiled">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password confirmation</mat-label>
            <input formControlName="passwordConfirmation" matInput [type]=" hide ? 'passwordConfirmation' : 'text'" required />
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Confirmed Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!registrationForm.controls['passwordConfirmation'].valid">
            Confirmed password is required and must be same as password
          </mat-error>
        </mat-form-field>
        </div>

        <button mat-flat-button color="primary">Register</button>
      </form>

      <div class="button-row">
        <p>Create New Account</p>
      </div>
    </mat-card-content>
  </mat-card>