<mat-card>
    <mat-card-content>
      <div class="header">
        <P>Pretrafa takmicara</P>
      </div>
      
      <form (ngSubmit)="onRegister()" name="searchForm" [formGroup]="searchForm">

        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Firstname</mat-label>
              <input
                formControlName="firstname"
                matInput
                placeholder="Enter firstname"
              />
            </mat-form-field>
        </div>

        
        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Lastname</mat-label>
              <input
                formControlName="lastname"
                matInput
                placeholder="Enter lastname"
              />
            </mat-form-field>
        </div>

        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Sport</mat-label>
                <mat-select
                formControlName="sport"
                matSelect
                placeholder="Choose sport"
                (valueChange)="selectChangeHandlerSport($event)"
                >
                    <mat-option *ngFor="let sport of sports" [value]="sport.name">
                    {{sport.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Discipline</mat-label>
                <mat-select
                formControlName="discipline"
                matSelect
                placeholder="Choose discipline"
                >
                    <mat-option *ngFor="let discipline of disciplines" [value]="discipline.name"> 
                    {{discipline.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="inputFiled">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Sex</mat-label>
                <mat-select
                formControlName="sex"
                matSelect
                placeholder="Choose sex"
                >
                    <mat-option *ngFor="let sex of sexes" [value]="sex.value"> 
                    {{sex.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <button mat-flat-button color="primary">SEARCH</button>
      </form>

      <div class="button-row">
        <p>Search for athletes</p>
      </div>
    </mat-card-content>

    <table>
        <tr>
            <td>Ime i prezime</td>
            <td>Takmicenje</td>
            <td>Pol</td>
            <td>Sport</td>
            <td>Disciplina</td>
            <td>Drzava</td>
        </tr>
        <tr *ngFor="let a of athletes">
            <td>{{a.firstname}} {{a.lastname}}</td>
            <td>{{a.competition}}</td>
            <td>{{a.sex}}</td>
            <td>{{a.sport}}</td>
            <td>{{a.discipline}}</td>
            <td>{{a.country}}</td>
        </tr>
    </table>

  </mat-card>

